@font-face{
    font-family: Distropiax;
    src: url("Font/Distropiax.otf");
}

@font-face{
    font-family: Wonderworld;
    src: url("Font/Wonderworld.otf");
}

html{
    overflow-x: clip; /*Evita lo scroll laterale*/
    scroll-padding: 140px; /*Evita che il menu copra il titolo dei paragrafi quandosi usano gli anchor*/
}
@media(max-width: 769px){
    html{
        scroll-padding: 10px;
        margin-top: 60px;
    }
}

body{
    overflow-x: clip;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 245, 232);
    display: flexbox;
}

h2{
    font-family: Wonderworld;
    color: rgb(184, 124, 11);
    font-size: clamp(37px, 7vw, 50px);
    text-indent: 3vw;
    padding-top: 2vw;
    margin-bottom: -1vw;
}

b{
    color:rgb(185, 114, 43);
}

hr{
  width: 80%;
  margin: 20px auto; /* Centra orizzontalmente */
  border: none;
  border-top: 2px solid goldenrod;
}

img{
    width: clamp(100px, 85vw, 500px);
    height: auto;
    border-radius: clamp(15px, 5vw, 20px);
    margin: auto;
}

table{
    border-collapse: separate;
    border-spacing: 3vw 0.5vw;
}

th{
    color:rgb(185, 114, 43);
}

td:not(#left){
    text-align: center;
}

.header{
    color: rgb(218, 165, 32);
    background-color: #663e13;
    font-family: Wonderworld; 
    width: 100%;
    padding: 7px;
    text-indent: 15px;
    display: flex;
    font-size: clamp(12px, 3vw, 16px);
    align-items: center;
}

.header img{
    padding-left: 10px;
    margin: 0.1px;
    border-radius: 0;
    width: 55px;
}

#burger{
    display: none;
    transform: translate(0, 4%);
    transform-origin: center;
    text-shadow: none;
    transition: text-shadow 0.3s ease-out;
    transition: text-shadow 0.3s ease-out, transform 0.3s ease-out;
}

/* MENU */

    .menu{
        user-select: none;
        display: flex;
        font-family: Wonderworld; 
        background-color: burlywood;
        font-size: 140%;
        top: 0; /*Specifica margine superiore*/
        z-index: 100; /*Rimane sopra agli tri elementi*/
        position: sticky; /*Rimane attaccato al margine superiore della pagina quando lo raggiunge*/
        width: 100%; /*occupa tutta la larghezza della pagina*/
    }

    .menu a{
        color: #52300c;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        text-indent: 0;
        position: relative; /*Diventa punto di riferimanto delle righe nell'animazione di hover*/
        transition: background-color 0.3s ease-out, color 0.3s ease-out;
    }

    .menu a.active{
        background-color: #663e13;
        color: goldenrod;
    }

    /* Menu a tendina + animazione*/
    .dropdown{
        display:flex;
        position: relative;
    }

    .sottomenu{
        display:flex;
        position: absolute;
        height: 0%;
        overflow: hidden;
        top: 100%;
        background-color: burlywood;
        width: auto;
        flex-direction: column;
        min-width: 100%;
        white-space: nowrap; /*impedisce al testo di andare a capo*/
        transition: height 0.3s ease-in;
    }

    .dropdown:hover .sottomenu { /*quando il cursore è su dropdown modifica sottomenu*/
        display: flex;
        height: 500%;
        transition: height 0.3s ease-in;
    }

    .dropdown:hover #Armi{
        color:#52300c;
        background-color:burlywood;
    }

    /*Menu mobile*/
    @media(max-width: 769px){
        .header{
            height: 60px;
            gap: 15px;
            text-indent: 5px;
            padding: 0;
            display: flex;
            justify-content: center;
            position: fixed;
            top: 0;
            z-index: 3;
        }

        .header img{
            width: 38px;
        }

        #burger{
            display: flex;
            height: 100%;
            align-items: center;
            width: 32px;
            position:absolute;
            left:0;
        }

        #burger:hover{
            transform: scale(120%) translate(0, 5%);
            text-shadow: 0 0 20px #fff;
            transition: text-shadow 0.3s ease-out, transform 0.3s ease-out;
        }

        .menu{
            flex-direction: column;
            width: 0;
            overflow-x: hidden;
            left: 0;
            position: fixed;
            height: 100%;
            transition: width 0.3s ease-out;
        }

        .menu a{
            text-align: left;
            width: 100%;
            box-sizing: border-box; /*Include il padding nella larghezza*/
        }

        .menu.active{
            display: flex;
            width: 60vw;
            transition: width 0.3s ease-out;
        }
    }

    /* Animazioni */
    /*definizione stile righe*/
    .menu a:not(.no-anim)::before,
    .menu a:not(.no-anim)::after{
        content: '';
        position: absolute;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: goldenrod;
        transition: width 0.3s ease-out, left 0.3s ease-out;
    }

    /*posizionamento righe*/
    .menu a::before{
        top: 0;
    }

    .menu a::after{
        bottom: 0px;
    }

    /*animazione righe*/
    .menu a:hover::before,
    .menu a:not(.no-anim):hover::after{
        width: 100%;
        left: 0;
        transition: width 0.3s ease-in, left 0.3s ease-in;
    }

    /*animazone link*/
    .menu a:not(.no-anim):hover{
        background-color:#52300c;
        color:burlywood;
        transition: background-color 0.3s ease-in, color 0.3s ease-in;
    }


    /*Animazione Armi*/
    /*definizione stile riga*/
    #Armi::before{
        content: '';
        position: absolute;
        left: 50%;
        width: 0;
        height: 2px;
        background-color:#52300c;
        transition: width 0.3s ease-out, left 0.3s ease-out;
        top: 0; /*posizionamento riga*/
    }

    /*animazione riga*/
    .dropdown:hover #Armi::before{
        width: 100%;
        left: 0;
        transition: width 0.3s ease-in, left 0.3s ease-in;
    }

    /*animazone link*/
    #Armi:hover{
        color:#52300c;
        background-color:burlywood;
        transition: background-color 0.3s ease-in, color 0.3s ease-in;
    }

    /*Animazioni mobile*/
    @media(max-width:769px){
        #Armi::before{
            display: none;
        }

        .dropdown{
            flex-direction: column;
            pointer-events: none;
        }

        #Armi{
            pointer-events: auto;
        }

        .sottomenu{
            position: static;
            pointer-events: auto;
        }

        .dropdown:hover{
            pointer-events: auto;
        }

        .dropdown:hover .sottomenu{
            height: 100%;
        }
        
        /*Border dropdown (sottomenu)*/
        .dropdown::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 3px;
            height: 0;
            background-color: #52300c;
            transition: height 0.3s ease-out;
        }
        
        .dropdown:hover::after {
            height: 100%;
            transition: height 0.3s ease-in;
        }
    }


.ptitle{
    font-family: Wonderworld;
    font-size: clamp(30px, 5vw, 35px);
    color: rgb(185, 114, 43);
    padding: 10px;
}

.content{
    border-radius: clamp(15px, 5vw, 20px);
    background-color: rgb(255, 230, 207);
    padding: 1vw 2vw 2vw;
    margin: 4vw;
    font-size: clamp(16px, 3vw, 20px);
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: clamp(300px, 85vw, 800px);
}

.withimage{
    position: relative;
    display: flex;
    margin: 4vw 0;
}
.withimage img{
    order: 1;
}
@media (max-width: 1000px){
    .withimage{
        display: flex;
        flex-direction: column;
    }
}

.left-img{
    justify-content: end;
    align-items: center;
}
.left-img img{
    margin-left: 4vw;
    margin-right: 2vw;
    order: 0;
    }
@media (max-width: 1000px){
    .left-img img{
        order: 1;
        margin: 4vw auto;
    }
}


#cos-e{
    justify-self: center;
    text-align: center;
}

@media (max-width: 1000px){
    #storia{
        justify-self: center;
        text-align: center;
    }
}

#SvsO{
    justify-content: center;
    margin: 4vw;
    align-items: center;
    img{
        width: 22vw;
    }
}
@media (max-width: 1000px){
    #SvsO{
        margin: 0;
        img{
            width: 40vw;
        }
        #immagini{
            margin: 4vw auto;
            flex-direction: row;
            order: 1;
        }
    }
}

#nota{
    font-size: clamp(11px, 2vw, 16px);
}


#armi-intro{
    padding-top: 2vw;
}

/* Footer */
    .footer{
        padding: 20px 0;
        bottom: 0;
        background-color:rgb(26, 26, 26);
        color:white;
        width: 100%;
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: clamp(11px, 2vw, 16px)
    }


/* TITOLO INDEX */

    .title{
        padding-top: clamp(400px, 70vw, 650px);
        font-family: Distropiax;
        font-size: 130px;
        color:peru;
        position: relative; /*Diventa punto di riferimento per i div figli*/
        transform: scale(clamp(0.7, calc(200vw / 1920px), 1.1)); /*In base alla dimensione della pagina scala l'immagine*/
        transform-origin: center; /*Scala mantenendo il centro del div come punto di riferimento*/
    }
    @media(max-width: 1000px){
        .title{
            transform: scale(clamp(0.6, calc(200vw / 1920px), 1)); /*In base alla dimensione della pagina scala l'immagine*/
            transform-origin: center; /*Scala mantenendo il centro del div come punto di riferimento*/
        }
    }

    .title img{
        position: absolute; /*Si posiziona rispetto a heading*/
        width: 364px;
        margin: 0;
        padding: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .title p{
        position: absolute;
        white-space: nowrap; /*Non va a capo*/
        justify-self: center;
        margin: 0;
        padding: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        line-height: 0;
    }
    @media(max-width: 769px){
        .title p{
            top: calc(50% - 22px);
        }
    }

    .title pre{
        position: absolute;
        background-color: rgb(255, 245, 232);
        font-size: 72px;
        justify-self: center;
        margin: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
