@font-face{
    font-family: Distropiax;
    src: url("/Font/Distropiax.otf");
}

body{
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.header{
    h1{color: goldenrod};
    background-color: saddlebrown;
}

.menu{
    background-color: burlywood;
    overflow: hidden;
    font-family: Distropiax;
}

.menu a{
    float: left;
    color: rgba(82, 48, 12, 0.998);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a.active{
    background-color: saddlebrown;
    color: goldenrod;
    font-size: 18px;
    padding: 13px 16px;
}

.footer{
    position: fixed;
    bottom: 0;
    background-color:rgb(26, 26, 26);
    color:white;
    padding: 0;
    width: 100%;
    text-align: center;
}
