@font-face{
    font-family: Distropiax;
    src: url("Font/Distropiax.otf");
}

@font-face{
    font-family: Wonderworld;
    src: url("Font/Wonderworld.otf");
}

html{
    overflow-x: clip; /*Evita lo scroll laterale*/
}

body{
    overflow-x: clip;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 245, 232);
}

h2{
    font-family: Wonderworld;
    color: rgb(184, 124, 11);
    font-size: 50px;
    text-indent: 3vw;
    padding-top: 2vw;
    margin-bottom: -1vw;
}

b{
    color:rgb(185, 114, 43);
}

hr{
  width: 80%;
  margin: 20px auto; /* Centra orizzontalmente */
  border: none;
  border-top: 2px solid goldenrod;
}

img{
    width: clamp(100px, 85vw, 500px);
    height: auto;
    border-radius: clamp(15px, 5vw, 20px);
    margin: auto;
}

table{
    border-collapse: separate;
    border-spacing: 3vw 0.5vw;
}

th{
    color:rgb(185, 114, 43);
}

td:not(#left){
    text-align: center;
}

.header{
    color: goldenrod;
    background-color: #663e13;
    font-family: Wonderworld; 
    width: 100%;
    padding: 7px;
    text-indent: 30px;
}


/* MENU */

    .menu{
        display: flex;
        font-family: Wonderworld; 
        background-color: burlywood;
        font-size: 140%;
        top: 0; /*Specifica margine superiore*/
        z-index: 100; /*Rimane sopra agli tri elementi*/
        position: sticky; /*Rimane attaccato al margine superiore della pagina quando lo raggiunge*/
        width: 100%; /*occupa tutta la larghezza della pagina*/
    }

    .menu a{
        color: #52300c;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        text-indent: 0;
        position: relative; /*Diventa punto di riferimanto delle righe nell'animazione di hover*/
        transition: background-color 0.3s ease-out, color 0.3s ease-out;
    }

    .menu a.active{
        background-color: #663e13;
        color: goldenrod;
    }

    /* Animazione */
    /*definizione stile righe*/
    .menu a:not(.active)::before,
    .menu a:not(.active)::after{
        content: '';
        position: absolute;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: goldenrod;
        transition: width 0.3s ease-out, left 0.3s ease-out;
    }

    /*posizionamento righe*/
    .menu a::before{
        top: 0;
    }

    .menu a::after{
        bottom: 0px;
    }

    /*animazione righe*/
    .menu a:hover::before,
    .menu a:hover::after{
        width: 100%;
        left: 0;
        transition: width 0.3s ease-in, left 0.3s ease-in;
    }

    /*animazone link*/
    .menu a:not(.active):hover{
        background-color:#52300c;
        color:burlywood;
        transition: background-color 0.3s ease-in, color 0.3s ease-in;
    }

.ptitle{
    font-family: Wonderworld;
    font-size: 35px;
    color: rgb(185, 114, 43);
    padding: 10px;
}

.content{
    border-radius: clamp(15px, 5vw, 20px);
    background-color: rgb(255, 230, 207);
    padding: 1vw 2vw 2vw;
    margin: 4vw;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: clamp(300px, 85vw, 800px);
}

.withimage{
    position: relative;
    display: flex;
    margin: 4vw 0;
}
@media (max-width: 1000px){
    .withimage{
        display: flex;
        flex-direction: column;
    }
}


#Storia{
    justify-content: end;
    img{
        margin-left: 4vw;
        margin-right: 2vw;
        order: 1;
    }
}
@media (max-width: 1000px){
    #Storia{
        img{
            margin: 4vw auto;
        }
    }
}


#SvsO{
    justify-content: center;
    margin: 4vw;
    align-items: center;
    img{
        width: 22vw;
    }
}
@media (max-width: 1000px){
    #SvsO{
        margin: 0;
        img{
            width: 40vw;
        }
        #immagini{
            margin: 4vw auto;
            flex-direction: row;
            order: 1;
        }
    }
}

#nota{
    font-size: 16px;
}

/* Footer */
    .footer{
        padding: 20px;
        bottom: 0;
        background-color:rgb(26, 26, 26);
        color:white;
        width: 100%;
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
    }


/* TITOLO INDEX */

    .title{
        padding-top: 650px;
        font-family: Distropiax;
        font-size: 130px;
        color:peru;
        position: relative; /*Diventa punto di riferimento per i div figli*/
        transform: scale(clamp(0.7, calc(200vw / 1920px), 1.1)); /*In base alla dimensione della pagina scala l'immagine*/
        transform-origin: center; /*Scala mantenendo il centro del div come punto di riferimento*/
    }
    @media(max-width: 1000px){
        .title{
        transform: scale(clamp(0.6, calc(200vw / 1920px), 1)); /*In base alla dimensione della pagina scala l'immagine*/
        transform-origin: center; /*Scala mantenendo il centro del div come punto di riferimento*/
        }
    }

    .title img{
        position: absolute; /*Si posiziona rispetto a heading*/
        width: 364px;
        margin: 0;
        padding: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .title p{
        position: absolute;
        white-space: nowrap; /*Non va a capo*/
        justify-self: center;
        margin: 0;
        padding: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .title pre{
        position: absolute;
        background-color: rgb(255, 245, 232);
        font-size: 50px;
        justify-self: center;
        margin: 0;
        padding-bottom: 25px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

